# Dirs
.vs/
bin-int/

# Files
*.user
*.filters
*.vcxproj
*.sln
*.pdb
*.lib
*.ilk
*.exp
bin/Debug-x86_64/Game/Game.exe
bin/Debug-x86_64/Silver/Silver.dll
bin/Debug-x86_64/Game/Silver.dll
Game/imgui.ini
bin/Debug-x86_64/Game/imgui.ini
