[submodule "Silver/vendor/spdlog"]
	path = Silver/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Silver/vendor/GLFW"]
	path = Silver/vendor/GLFW
	url = https://github.com/DevilEvilSilver/glfw
[submodule "Silver/vendor/ImGui"]
	path = Silver/vendor/ImGui
	url = https://github.com/DevilEvilSilver/imgui
[submodule "Silver/vendor/glm"]
	path = Silver/vendor/glm
	url = https://github.com/DevilEvilSilver/glm
[submodule "Silver/vendor/tinyxml2"]
	path = Silver/vendor/tinyxml2
	url = https://github.com/DevilEvilSilver/tinyxml2
